<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-justify" size="10">
        <ion-text class="ion-text-center">
          <div class="background">
            <h1 class="text">
              Photo <br>
              & <br>
              Notes
            </h1>

            <p class="text">
              You can make pictures and view them in the gallery. 
              You can also add notes and edit them.
            </p>

            <p class="text">
              This app is made by Gerdine Kwebeman
            </p>
          </div>
          
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
